<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CadastrarBeneficiario</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CadastrarBeneficiario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarSolicitante</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CadastrarSolicitante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarReceptor</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CadastrarReceptor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarColaborador</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CadastrarColaborador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarPontoColeta</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CadastrarPontoColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarReceptor</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ListarReceptor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCategoria</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CadastrarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogarUsuario</servlet-name>
        <servlet-class>br.com.projetosiel.controller.LogarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregarReceptor</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CarregarReceptor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirReceptor</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ExcluirReceptor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarReceptor</servlet-name>
        <servlet-class>br.com.projetosiel.controller.AlterarReceptor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarSolicitante</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ListarSolicitante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirSolicitante</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ExcluirSolicitante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarTipoColeta</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CadastrarTipoColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarColaborador</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ListarColaborador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirColaborador</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ExcluirColaborador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarColaborador</servlet-name>
        <servlet-class>br.com.projetosiel.controller.AlterarColaborador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregarColaborador</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CarregarColaborador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPontoColeta</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ListarPontoColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPontoColeta</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ExcluirPontoColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPontoColeta</servlet-name>
        <servlet-class>br.com.projetosiel.controller.AlterarPontoColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregarPontoColeta</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CarregarPontoColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarBeneficiario</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ListarBeneficiario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirBeneficiario</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ExcluirBeneficiario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregarBeneficiario</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CarregarBeneficiario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarBeneficiario</servlet-name>
        <servlet-class>br.com.projetosiel.controller.AlterarBeneficiario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarListaEquipamento</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CadastrarListaEquipamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarSolicitante</servlet-name>
        <servlet-class>br.com.projetosiel.controller.AlterarSolicitante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregarSolicitante</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CarregarSolicitante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCategoria</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ListarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTipoColeta</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ListarTipoColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DadosReceptor</servlet-name>
        <servlet-class>br.com.projetosiel.controller.DadosReceptor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarListaEquipamento</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ListarListaEquipamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarListaPeca</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CadastrarListaPeca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DadosColeta</servlet-name>
        <servlet-class>br.com.projetosiel.controller.DadosColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitarColeta</servlet-name>
        <servlet-class>br.com.projetosiel.controller.SolicitarColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarColaborador</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ConsultarColaborador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitarDoacao</servlet-name>
        <servlet-class>br.com.projetosiel.controller.SolicitarDoacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarDoacao</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ListarDoacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirDoacao</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ExcluirDoacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregarDoacao</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CarregarDoacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarEquipamento</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CadastrarEquipamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirEquipamento</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ExcluirEquipamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregarEquipamento</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CarregarEquipamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarEquipamento</servlet-name>
        <servlet-class>br.com.projetosiel.controller.AlterarEquipamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCategoriaReceptor</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ListarCategoriaReceptor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCategoriaReceptor</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ExcluirCategoriaReceptor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirTipoColeta</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ExcluirTipoColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarPeca</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CadastrarPeca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPeca</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ListarPeca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPeca</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ExcluirPeca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregarPeca</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CarregarPeca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPeca</servlet-name>
        <servlet-class>br.com.projetosiel.controller.AlterarPeca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirListaEquipamento</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ExcluirListaEquipamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarListaPeca</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ListarListaPeca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DadosEquipamento</servlet-name>
        <servlet-class>br.com.projetosiel.controller.DadosEquipamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DadosMontarEquipamento</servlet-name>
        <servlet-class>br.com.projetosiel.controller.DadosMontarEquipamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarPontoColeta</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ConsultarPontoColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarStatusColeta</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ListarStatusColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarBeneficiario</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ConsultarBeneficiario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarColeta</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ConfirmarColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarColeta</servlet-name>
        <servlet-class>br.com.projetosiel.controller.RegistrarColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarStatusMaterialColeta</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ListarStatusMaterialColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregarColeta</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CarregarColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarColeta</servlet-name>
        <servlet-class>br.com.projetosiel.controller.CancelarColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarPontoColeta</servlet-name>
        <servlet-class>br.com.projetosiel.controller.PesquisarPontoColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarColeta</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ListarColeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEquipamento</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ListarEquipamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MontarEquipamento</servlet-name>
        <servlet-class>br.com.projetosiel.controller.MontarEquipamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioColetas</servlet-name>
        <servlet-class>br.com.projetosiel.controller.RelatorioColetas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioDoacoes</servlet-name>
        <servlet-class>br.com.projetosiel.controller.RelatorioDoacoes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirListaPeca</servlet-name>
        <servlet-class>br.com.projetosiel.controller.ExcluirListaPeca</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarBeneficiario</servlet-name>
        <url-pattern>/CadastrarBeneficiario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarSolicitante</servlet-name>
        <url-pattern>/CadastrarSolicitante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarReceptor</servlet-name>
        <url-pattern>/CadastrarReceptor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarColaborador</servlet-name>
        <url-pattern>/CadastrarColaborador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarPontoColeta</servlet-name>
        <url-pattern>/CadastrarPontoColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarReceptor</servlet-name>
        <url-pattern>/ListarReceptor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCategoria</servlet-name>
        <url-pattern>/CadastrarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogarUsuario</servlet-name>
        <url-pattern>/LogarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregarReceptor</servlet-name>
        <url-pattern>/CarregarReceptor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirReceptor</servlet-name>
        <url-pattern>/ExcluirReceptor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarReceptor</servlet-name>
        <url-pattern>/AlterarReceptor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarSolicitante</servlet-name>
        <url-pattern>/ListarSolicitante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirSolicitante</servlet-name>
        <url-pattern>/ExcluirSolicitante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarTipoColeta</servlet-name>
        <url-pattern>/CadastrarTipoColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarColaborador</servlet-name>
        <url-pattern>/ListarColaborador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirColaborador</servlet-name>
        <url-pattern>/ExcluirColaborador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarColaborador</servlet-name>
        <url-pattern>/AlterarColaborador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregarColaborador</servlet-name>
        <url-pattern>/CarregarColaborador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPontoColeta</servlet-name>
        <url-pattern>/ListarPontoColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPontoColeta</servlet-name>
        <url-pattern>/ExcluirPontoColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPontoColeta</servlet-name>
        <url-pattern>/AlterarPontoColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregarPontoColeta</servlet-name>
        <url-pattern>/CarregarPontoColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarBeneficiario</servlet-name>
        <url-pattern>/ListarBeneficiario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirBeneficiario</servlet-name>
        <url-pattern>/ExcluirBeneficiario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregarBeneficiario</servlet-name>
        <url-pattern>/CarregarBeneficiario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarBeneficiario</servlet-name>
        <url-pattern>/AlterarBeneficiario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarListaEquipamento</servlet-name>
        <url-pattern>/CadastrarListaEquipamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarSolicitante</servlet-name>
        <url-pattern>/AlterarSolicitante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregarSolicitante</servlet-name>
        <url-pattern>/CarregarSolicitante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCategoria</servlet-name>
        <url-pattern>/ListarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTipoColeta</servlet-name>
        <url-pattern>/ListarTipoColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DadosReceptor</servlet-name>
        <url-pattern>/DadosReceptor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarListaEquipamento</servlet-name>
        <url-pattern>/ListarListaEquipamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarListaPeca</servlet-name>
        <url-pattern>/CadastrarListaPeca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DadosColeta</servlet-name>
        <url-pattern>/DadosColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitarColeta</servlet-name>
        <url-pattern>/SolicitarColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarColaborador</servlet-name>
        <url-pattern>/ConsultarColaborador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitarDoacao</servlet-name>
        <url-pattern>/SolicitarDoacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarDoacao</servlet-name>
        <url-pattern>/ListarDoacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirDoacao</servlet-name>
        <url-pattern>/ExcluirDoacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregarDoacao</servlet-name>
        <url-pattern>/CarregarDoacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarEquipamento</servlet-name>
        <url-pattern>/CadastrarEquipamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirEquipamento</servlet-name>
        <url-pattern>/ExcluirEquipamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregarEquipamento</servlet-name>
        <url-pattern>/CarregarEquipamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarEquipamento</servlet-name>
        <url-pattern>/AlterarEquipamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCategoriaReceptor</servlet-name>
        <url-pattern>/ListarCategoriaReceptor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCategoriaReceptor</servlet-name>
        <url-pattern>/ExcluirCategoriaReceptor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirTipoColeta</servlet-name>
        <url-pattern>/ExcluirTipoColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarPeca</servlet-name>
        <url-pattern>/CadastrarPeca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPeca</servlet-name>
        <url-pattern>/ListarPeca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPeca</servlet-name>
        <url-pattern>/ExcluirPeca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregarPeca</servlet-name>
        <url-pattern>/CarregarPeca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPeca</servlet-name>
        <url-pattern>/AlterarPeca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirListaEquipamento</servlet-name>
        <url-pattern>/ExcluirListaEquipamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarListaPeca</servlet-name>
        <url-pattern>/ListarListaPeca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DadosEquipamento</servlet-name>
        <url-pattern>/DadosEquipamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DadosMontarEquipamento</servlet-name>
        <url-pattern>/DadosMontarEquipamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarPontoColeta</servlet-name>
        <url-pattern>/ConsultarPontoColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarStatusColeta</servlet-name>
        <url-pattern>/ListarStatusColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarBeneficiario</servlet-name>
        <url-pattern>/ConsultarBeneficiario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarColeta</servlet-name>
        <url-pattern>/ConfirmarColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarColeta</servlet-name>
        <url-pattern>/RegistrarColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarStatusMaterialColeta</servlet-name>
        <url-pattern>/ListarStatusMaterialColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregarColeta</servlet-name>
        <url-pattern>/CarregarColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarColeta</servlet-name>
        <url-pattern>/CancelarColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarPontoColeta</servlet-name>
        <url-pattern>/PesquisarPontoColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarColeta</servlet-name>
        <url-pattern>/ListarColeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEquipamento</servlet-name>
        <url-pattern>/ListarEquipamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MontarEquipamento</servlet-name>
        <url-pattern>/MontarEquipamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioColetas</servlet-name>
        <url-pattern>/RelatorioColetas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioDoacoes</servlet-name>
        <url-pattern>/RelatorioDoacoes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirListaPeca</servlet-name>
        <url-pattern>/ExcluirListaPeca</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
